.node {
  border-radius: 100%;
  border: 1px solid blue;
  background: lime;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edge {
  /* top: 100px;
  left: 100px; 
  width: 223.6px; Use pythagorean on width and height of rectangle created between two circles */
  border-top: 5px solid blue;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  /* -webkit-transform:
      translateX(2px)
      translateY(-1px)
      rotate(26.56deg); 90 - tan^(-1)(width/height) = theta_degrees */
  position: absolute;
}

.center {
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}